# Python environment, you may upload from requirements.txt
.venv/
__pycache__/

# Ignore absolutely all files inside these folders and their subfolders
data_raw/**/*
dataset/**/*
test_images/**/*
videos/**/*

# Un-ignore the directories themselves so Git is allowed to look inside
!data_raw/**/
!dataset/**/
!test_images/**/
!videos/**/

# Un-ignore .gitkeep files so Git actually saves the empty folders to GitHub
!data_raw/**/.gitkeep
!dataset/**/.gitkeep
!test_images/**/.gitkeep
!videos/**/.gitkeep

# but no matter we try to keep folder structure, git itself doesn't allow us to keep empty folders

# Ignore Archives, you have to upload this data from given link (Kaggle)
*.zip